/* DESIGNED AND DEVELOPED BY
--ASIF HASAN OPI */


*{
  box-sizing: border-box;
  font-family: myFirstFont;
}
  .header{
    text-align:Center;
    font-size: 2vw;
    font-family:times;
  }
  .row::after{
    content: "";
    clear: both;
    display: table;

  }
  .form{
    font-size: 20px;
  }
  input[type=text],[type=email],textarea{
    border: 3px solid #b3b3b3;
    border-radius: 3px;
    padding: 15px 20px;
    width: 100%;
    margin: 8px 0;
    outline: none;
    transition: 0.5s;
    resize: none;
  }
}
input[type=radio],input[type=file],input[type=date],select[option]{
  width: 50px;
  height: 10px;
  margin: 8px 0;
  padding: 12px 20px;
  border: 3px solid #b3b3b3;
  border-radius: 3px;
  outline: none;
  transition: 0.5s;
}
.select{
  height: auto;
  font-size: 20px;
}

  input:focus{
    border: 3px solid #555;
}
  label{
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  .left{
    width: 25%;
    float: left;
    margin-top: 6px;

  }
  .right{
    width: 75%;
    float: left;
    margin-top: 6px;
  }
  .last{
    margin: 5px 20px;

  }
  input[type=submit], [type=reset]{
    float: right;
    padding: 12px 100px;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: #595959;
    cursor: pointer;
    margin-right: 15px;
    margin-bottom: 30px;
    font-size: 20px;
  }
  input[type=submit]:hover,[type=reset]:hover{
    background-color: #000;
  }
  @media screen and (max-width: 600px) {
    .left, .right{
      width: 100%;
      margin-top: 0;
    }
    .header{
      font-size: 3vw;
      padding: 0;
      margin: 0;
    }
  }
  @media screen and (max-width: 700px) {
    input[type=submit], input[type=reset]{
      display: flex;
      width: 42%;
      margin: 10px;
      padding: 12px 50px;
      float: left;
      display: inline;
    }
    input[type=submit]{
      float: right;
    }
  }
